{% extends 'base.html.twig' %}

{% block title %}Hello CarController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
        .images {
            width:  50%;
        }

	</style>

	<div class="example-wrapper">
		<h1>Fiche Technique Peugeot 3008! ✅</h1>

		<img class="images" src={{car['img']}}>

		<h3>Caractéristiques</h3>
		<ul>
			<li>Année de sortie {{car['date']| date("Y") }}
			</li>
			<li>Prix de vente
				{{car['prices']}}
				€</li>
		</ul>
	</div>
{% endblock %}
