<h1>Bonjour {{ user_first_name }}!</h1>

<h3>Vos notifications :</h3>
<p>vous avez {{ notifications|length }} nouvelles notifications.</p>

<ul>
    {% for notification in notifications %}
    <li>{{notification}}</li>
    {% endfor %}
</ul>

<h3><strong>Liste des contacts :</strong></h3>
<ul>
    {% for contact in contacts %}
        <li>{{contact}}</li>
    {% endfor %}
</ul>