<h1>Hello {{ user_first_name }}!</h1>
<p>You have {{ notifications|length }} new notifications.</p>

<h3><strong>Liste des contacts :</strong></h3>
<ul>
    {% for contact in contacts %}
        <li>{{contact}}</li>
    {% endfor %}
</ul>